ipython>=8.10
jupyterlab>=3.0
notebook
kedro~=1.4.0

kedro-datasets[pandas-csvdataset,pickle-pickledataset,json-jsondataset]>=9.0
pandas>=2.2
numpy>=1.26
scikit-learn>=1.4
matplotlib>=3.8
seaborn>=0.13
missingno>=0.5

streamlit>=1.38
mlflow>=2.14